/* Hintergrund der gesamten Seite */
body {
    background-color: #333; /* Dunkelgrau */
    color: white; /* Weiße Schrift */
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Überschrift */
h1 {
    text-align: center;
}

/* Tabellenstil */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: black; /* Hintergrund der Tabelle */
    color: white; /* Schriftfarbe */
}

th, td {
    border: 1px solid white; /* Weiße Ränder für bessere Sichtbarkeit */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #222; /* Dunkelgrau für die Kopfzeile */
}


/* Suchleiste */
#searchInput {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    color: white;
}
