/* style.css */

/* Hintergrundfarbe der gesamten Seite */
body {
    background-color: #222; /* Dunkles Grau */
    color: white; /* Weiße Schrift */
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Überschrift */
h1 {
    text-align: center;
}

/* Tabellenstil */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: black; /* Schwarzer Hintergrund für die Tabelle */
}

/* Tabellenkopf */
th {
    background-color: #444; /* Dunkelgrau */
    color: white; /* Weiße Schrift */
}

/* Tabellenzellen */
td {
    background-color: #333; /* Mittelgrau für Kontrast */
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white; /* Schrift in der Tabelle */
}

/* Suchleiste */
#searchInput {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: black;
    color: white;
}
