body {
    background: linear-gradient(135deg, 
        #7E57C2, /* Lila */
        #de7545  /* orange */
                                
    ) !important;
    color: white; /* äußere Schriftfarbe */
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

table {
    background-color: #e3e3e3 !important; /* Hellerer Hintergrund für die Tabelle */
    color: black !important; /* Schriftfarbe in der Tabelle */
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #005f6e; /* Randfarbe */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333; /* Dunkler Hintergrund für Tabellenüberschriften */
}
